# Archivos generados por el sistema
.gradle/
/build/
/captures/

# Archivos de configuración de Android Studio
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries

# Archivos de configuración de Gradle
/.gradle
/local.properties

# Archivos de construcción de Gradle
/out/

# Archivos de compilación de Android
*.class
*.jar
*.war

# Archivos de respaldo y copia de seguridad
*~
*.swp
*.bak
*.tmp

# Otras carpetas y archivos
.DS_Store
Thumbs.db

